{{!-- The following component displays Ember's default welcome message. --}}
<h1>Ember OAuth PoC</h1>

{{outlet}}

<hr>
{{#link-to "login"}}Login{{/link-to}}
&nbsp;&nbsp;&nbsp;
{{#link-to "protected"}}Show Protected Resource{{/link-to}}