{{!-- The following component displays Ember's default welcome message. --}}
<h1>Ember OAuth PoC</h1>

{{outlet}}

<hr>
{{#link-to "login"}}Login{{/link-to}}
&nbsp;&nbsp;&nbsp;
<a href="#" {{action "loginImplicitGrant"}}>Login with Facebook (Implicit Grant)</a>
&nbsp;&nbsp;&nbsp;
<a href="#" {{action "loginExplicitGrant"}}>Login with Facebook (Explicit Grant)</a>
&nbsp;&nbsp;&nbsp;
{{#link-to "protected"}}Show Protected Resource{{/link-to}}