<h2>Protected Resource</h2>

{{#if session.isAuthenticated}}
  You are authenticated!

  {{message}}
  <button {{action "fetchData"}}>Fetch Data</button>
{{else}}
  You are not authenticated :(
{{/if}}
